<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>

<body>
    <a routerLink="/Home" id="bottom-right">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Home
    </a>

    <div class="container">
        <span></span>
        <span></span>
        <span></span>
        <span></span>

        <div class="content">
            <details>
                <summary> Project 1 : My Portfolio </summary>
                <ul>
                    <li>Tech Used : HTML, CSS, Javascript, Typescript And Angular</li>
                    <li>This Project Is Fully About Myself Like My Education, Skills, My Works And How To Reach Me...!
                    </li>
                    <li>My Website : 👉 <a href="https://my-portfolio-1nb.pages.dev/">My Portfolio</a></li>
                </ul>
            </details>
            <p>
                Still Upgrading Myself Lot More To Come...!
            </p>
        </div>
    </div>
</body>

</html>