<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>

<body>
    <a routerLink="/Home" id="top-right">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Home
    </a>

    <div class="skill">
        <div class="frontend">
            <p>Front End Skills : </p>
            <div class="container">
                <div class="heading">
                    <h3 class="fade-in-heading">HTML</h3>
                    <h3 class="fade-in-heading">CSS</h3>
                    <h3 class="fade-in-heading">JavaScript</h3>
                    <h3 class="fade-in-heading">Bootstrap</h3>
                </div>
                <span class="animated-span"></span>
            </div>
        </div>
        <div class="backend">
            <p>Back End Skills : </p>
            <div class="container">
                <div class="heading">
                    <h3 class="fade-in-heading">Python</h3>
                    <h3 class="fade-in-heading">C#</h3>
                </div>
                <span class="animated-span"></span>
            </div>
        </div>
        <div class="dtfr">
            <p>DataBase & Frameworks : </p>
            <div class="container">
                <div class="heading">
                    <h3 class="fade-in-heading">Angular</h3>
                    <h3 class="fade-in-heading">SQL</h3>
                    <h3 class="fade-in-heading">Django</h3>
                </div>
                <span class="animated-span"></span>
            </div>
        </div>
        <div class="add">
            <p>Additional Skills : </p>
            <div class="container">
                <div class="heading">
                    <h3 class="fade-in-heading">GIT & GitHub</h3>
                    <h3 class="fade-in-heading">Microsoft 360</h3>
                    <h3 class="fade-in-heading">Basic Editing</h3>
                </div>
                <span class="animated-span"></span>
            </div>
        </div>
    </div>

</body>

</html>